@model FormManagement.Domain.Form
@{
    ViewBag.Title = "Goruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Home", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            @Html.LabelFor(model => model.formName) <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.EditorFor(model => model.formName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Form adını giriniz.", @maxlength = "50" } })
            @Html.ValidationMessageFor(model => model.formName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            @Html.LabelFor(model => model.description)
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Form tanımı", @maxlength = "50", @type = "text" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            @Html.LabelFor(model => model.name) <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ad giriniz", @maxlength = "50", @type = "text" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            @Html.LabelFor(model => model.surname) <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Soyad giriniz", @maxlength = "50", @type = "text" } })
            @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            @Html.LabelFor(model => model.age)
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control", @placeholder = "Yaş giriniz...", @type = "number", @min = "18" } })
            @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <a class="btn btn-link" href="/forms">
                <i class="fa fa-close"> Geri Dön </i>
            </a>
            <button type="submit" class="btn btn-warning">Güncelle</button>
        </div>
    </div>
</div>
   
}